<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596048746582-bragq95chtdqu6mfrfg1j6hpis9m1rvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596048746582-bragq95chtdqu6mfrfg1j6hpis9m1rvd</string>
	<key>API_KEY</key>
	<string>AIzaSyBql8-1qzA1DLLGoG-Q1cewamLS9aymGug</string>
	<key>GCM_SENDER_ID</key>
	<string>596048746582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.markb.drink-together</string>
	<key>PROJECT_ID</key>
	<string>drink-together-58dc9</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-together-58dc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596048746582:ios:7c22952b9c31211bd003f7</string>
	<key>DATABASE_URL</key>
	<string>https://drink-together-58dc9.firebaseio.com</string>
</dict>
</plist>